body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  background-color: #f6f6f6;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 1.6rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #fff;
  background-color: #10555a;
  margin-bottom: 10px;
}

.wrapper {
  padding: 0 1rem;
}

.news {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 2rem;

  &__card {
    text-decoration: none;
    color: rgb(8, 8, 8);
    background-color: #fff;
    padding: 20px;

    &:hover {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
    }
  }
}
